<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Enable debug logging for Oscar code during tests only. -->
    <logger name="org.okapi.oscar" level="DEBUG"/>
    <logger name="org.springframework.ai.chat.client" level="TRACE"/>
    <logger name="org.springframework.ai.chat.client.advisor" level="TRACE"/>
    <logger name="org.springframework.ai.model.tool" level="TRACE"/>
    <logger name="org.springframework.ai.openai" level="TRACE"/>
    <logger name="org.springframework.ai.tool" level="TRACE"/>
    <logger name="org.springframework.web.client" level="DEBUG"/>
</configuration>
